History/
Project*Logs*for*MC*Alarm/
__Previews/
software/target/
.vscode/
__pycache__/
*.pyc
*.cam
Project*Outputs*for*MC*Alarm/
.OutJob
target/software/android/MonkeydoGPSAlarm/.idea/
target/
.idea/
